#chart{
    width: 100%;
    max-width: 1000px;
    background-color: #f7f7f7;
    margin: 25px auto;
}

#tooltip {
    position: absolute;
    width: 200px;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    pointer-events: none;
    display: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
  